services:

  sakoo.app:
    build:
      context: .
      dockerfile: docker/sakoo.app/Dockerfile
    image: ${DOCKER_IMAGE}
    restart: unless-stopped
    ports:
      - "80:9501"
      - "443:9501"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./:/var/www/html/
    depends_on:
      - sakoo.mysql
    networks:
      - sakoo.network

  sakoo.mysql:
    image: mysql/mysql-server:8.0
    restart: unless-stopped
    ports:
      - '${MYSQL_PORT:-3306}:3306'
    volumes:
      - sakoo.volume:/var/lib/mysql
    environment:
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_ALLOW_EMPTY_PASSWORD: false
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    networks:
      - sakoo.network
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping" ]

volumes:
  sakoo.volume:
    driver: local

networks:
  sakoo.network:
    driver: bridge
