rules:
  - Sakoo\Framework\Core\PHPStan\Bug\IgnorePureFunctionOutputRule
  - Sakoo\Framework\Core\PHPStan\CodeSmell\UnusedPrivateMethodRule
  - Sakoo\Framework\Core\PHPStan\Vulnerability\DangerousFunctionsRule
parameters:
	reportUnmatchedIgnoredErrors: false
	errorFormat: table
	editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
	level: max
	paths:
		- src
		- tests
	ignoreErrors:
		-
			identifier: missingType.iterableValue