<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
  <coverage>
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <directory>src/Testing</directory>
      <directory>src/Kernel</directory>

      <directory>src/Watcher</directory>
      <directory>src/Console/WatcherActions</directory>
      <file>src/Console/Commands/WatchCommand.php</file>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="Core">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
</phpunit>