<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheResult="false">

  <testsuites>
    <testsuite name="Test Suite">
        <directory>./app/*/Tests</directory>
      <directory>core/tests</directory>
    </testsuite>
  </testsuites>

  <source>
    <include>
      <directory suffix=".php">app</directory>
      <directory suffix=".php">core/src</directory>
    </include>
    <exclude>
      <directory suffix=".php">core/src/Exception</directory>
      <!-- <directory suffix=".php">core/src/Command</directory>-->
      <!-- <directory suffix=".php">core/src/Doc</directory>-->
      <!-- <directory suffix=".php">core/src/Kernel</directory>-->
      <!-- <directory suffix=".php">core/src/ServiceLoader</directory>-->
      <!-- <directory suffix=".php">core/src/Testing</directory>-->
      <file>core/src/Constants.php</file>
      <file>core/src/helpers.php</file>
    </exclude>
  </source>

</phpunit>
